.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.fade-in.active {
    transform: translateY(0);
    opacity: 1;
}

.fade-out {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.fade-out.active {
    transform: translateY(50px);
    opacity: 0;
}

.animation .inner {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 300vh;
    
}

.animation .inner .box {
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height:300px;
    width:300px;
    font-size: 50px;
    color:white;
}
