.mySwiper {
  height:100vh;
  width:100%;
  position: relative;
}

.mySwiper .swiper-slide {
  display:flex;
  justify-content: center;
  align-items: center;
}

.mySwiper .swiper-controller {
  position: absolute;
  right:20px;
  bottom:20px;
  width:50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f3d9de;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.mySwiper .swiper-controller:hover {
  color:white;
}

.modal {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal .close {
  position : absolute;
  box-sizing: border-box;
  padding-top: 1px;
  top: 30px;
  right: 30px;
  font-size: 30px;
  width:35px;
  height:35px;
  text-align: center;
  border-radius: 8px;
  color:white;
  background-color: rgb(214, 129, 129);
}

.modal .close:hover {
  background-color: red;
}

.modal .setting {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin:80px auto;
  width:80%;
  height: 80%;
  padding:20px;
  border-radius: 8px;
  background-color: white;
}

.modal .setting .setting-wrapper {
  margin-bottom: 10px;
  height: 10%;
  display: flex;
  border:1px black solid
}


.modal .setting .setting-wrapper .setting-content{
  display: flex;
  padding-left: 10px;
  align-items: center;
  width:70%;
}

.modal .setting .setting-wrapper .setting-controller{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width:30%;
  font-size: 30px;
  cursor: pointer;
}

.modal .setting .setting-wrapper .setting-controller input{
  width:50%;
}

.modal .dropdown {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 16px;
  bottom:0;
  top:0;
  margin:auto;
}

.modal .dropdown .dropdown-contents{
  display:none;
}

.modal .dropdown:hover .dropdown-contents,
.modal .dropdown:active .dropdown-contents {
  position: absolute;
  box-sizing: border-box;
  background-color: #b2d8f7;
  color:#595cff;
  border-radius: 8px;
  padding: 3px;
  width: 80px;
  height: 180px;
  bottom:-170px;
  display: flex;
  flex-direction: column;
  z-index: 2000;
}

.modal .dropdown .dropdown-contents .dropdown-content {
  display: flex;
  align-items: center;
  padding-left:5px;
  height: 30px;
  margin-bottom: 5px;
  
}

.modal .dropdown .dropdown-contents .dropdown-content:hover,
.modal .dropdown .dropdown-contents .dropdown-content:active {
  border-radius: 5px;
  background-color: #595cff;
  color:white;
}
