/* intro */

.intro {
    margin-top: 120px;
    background-color: #F5EDED;
}

.intro .inner {
    height: 650px;
}

.intro .title {
    position: absolute;
    top: 100px;
    left: 100px;
    opacity: 0;
}

.intro #intro-image1 {
    position: absolute;
    bottom: 0;
    right: -47px;
    opacity: 0;
}

.intro #intro-image2 {
    position: absolute;
    bottom: 0;
    right: 162px;
    opacity: 0;
}

.intro .fade-in {
    animation: showup .5s forwards
}

@keyframes showup {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*NOTICE*/
/*NOTICE LINE*/
.notice .notice-line {
    position: relative;
}

.notice .notice-line .bg-left {
    width: 50%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
}

.notice .notice-line .bg-right {
    width: 50%;
    height: 100%;
    background-color: #f6f5ef;
    position: absolute;
    top: 0;
    right: 0;
}

.notice .notice-line .inner {
    height: 62px;
    z-index: 1;
    display: flex;
}

.notice .notice-line .inner__left {
    width: 60%;
    height: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
}

.notice .notice-line .inner__left h2 {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
}

.notice .notice-line .inner__left .swiper-container {
    height: 62px;
    flex-grow: 1;
}

.notice .notice-line .inner__left .swiper-slide {
    height: 62px;
    display: flex;
    align-items: center;
}

.notice .notice-line .inner__left .swiper-slide a {
    color: #fff;
}

.notice .notice-line .inner__left .notice-line__more {
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice .notice-line .inner__left .notice-line__more .material-icons {
    color: #fff;
    font-size: 30px;
}

.notice .notice-line .inner__right {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.notice .notice-line .inner__right h2 {
    font-size: 17px;
    font-weight: 700;
}

.notice .notice-line .inner__right .toggle-promotion {
    width: 62px;
    height: 62px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice .notice-line .inner__right .toggle-promotion .material-icons {
    font-size: 30px;
}