.season {
    display: flex;
    flex-direction: column;
}

.season-container {
    position: relative;
    margin-bottom: 20px; 
}

.season-container:first-child {
    margin-top:100px;
}

.season-title {
    background-color: rgba(0, 0 ,0 ,0.5);
    position: absolute;
    top:0;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    margin:auto ;
    width:20%;
    height: 20%;
    color:white;
    font-size: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.season-image {
    width: 100%;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.season-text {
    text-align: center;
}