.season {
    display: flex;
    flex-direction: column;
}

.season-container {
    position: relative;
}

.season-title {
    display: inline-flex;
    box-sizing: border-box;
    background-color: rgba(0, 0 ,0 ,0.5);
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -90%);
    width:300px;
    height: 100px;
    color:white;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    padding-bottom:10px;
}

.season-image {
    width: 100%;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.season-text {
    height: 100px;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
}