/*COMMON*/
body {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #333;
}

a {
    text-decoration: none;
}

img {
    /* img(인라인 요소) 하단에 Baseline 공백을 제거 */
    display: block;
}

/*INNER*/
.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}